In [29]:
import pandas as pd
import numpy as np

In [30]:
data=pd.read_csv('IPL2016.csv')

In [31]:
data

    Unnamed: 0  overall_sr  won
0            1  168.817204    1
1            2  165.432099    0
2            3  121.568627    0
3            4  149.541284    1
4            5  151.898734    0
5            6  124.489796    0
6            7  112.000000    0
7            8  178.688525    1
8            9  150.000000    1
9           10   91.176471    0
10          11  222.429907    1
11          12  163.414634    1
12          13  217.307692    1
13          14  113.207547    1
14          15  161.224490    1
15          16  143.902439    0

In [32]:
X=np.array(data['overall_sr'])
y=np.array(data['won'])

In [33]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def logistic_regression(X, y, learning_rate, epochs):
    X = np.column_stack((np.ones(len(X)), X))
    theta = np.zeros(X.shape[1])

    for epoch in range(epochs):
        z = np.dot(X, theta)
        h = sigmoid(z)
        gradient = np.dot(X.T, (h - y)) / y.size
        theta -= learning_rate * gradient
    return theta

def predict(strike_rate):
    return sigmoid(strike_rate)
    
X = X.reshape(-1, 1)

theta = logistic_regression(X, y, learning_rate=0.001, epochs=1000)

In [34]:
new_strike_rate = float(input("Enter strike rate: "))
X = np.array([1, new_strike_rate])
winning_probability = predict(np.dot(X, theta))
print(f"Predicted winning percentage of match for a strike rate of {new_strike_rate} is {winning_probability * 100}%")

Enter strike rate:  200

Predicted winning percentage of match for a strike rate of 200.0 is 89.83432929031518%